<div class="container">
    <footer class="footer">
        <div class="footer__inner">
            <div class="footer__row ">
            <!-- --footer lolums 1 ----  -->
             <div class="footer__col">
                <h3 class="footer__heading"> About Sephonra</h3>
                <ul class="footer__list">
                    <li>
                        <a class="footer__link" href="#!">About Senphonra</a>
                    </li>
                    <li>
                        <a class="footer__link" href="#!"> Newsrom</a>
                    </li>
                    <li>
                        <a class="footer__link" href="#!">Careers</a>
                    </li>
                    <li>
                        <a class="footer__link" href="#!">Senphonra Stands</a>
                    </li>
                    <li>
                        <a class="footer__link" href="#!">Affiates</a>
                    </li>
                    <li>
                        <a class="footer__link" href="#!">Supply Chain</a>
                    </li>
                    <li>
                        <a class="footer__link" href="#!">Siamap</a>
                    </li>
                    <li>
                        <a class="footer__link" href="#!">Senphonra Global</a>
                    </li>
                    <li>
                        <a class="footer__link" href="#!">Senphora</a>
                    </li>
                </ul>
             </div>
             <!-- --footer lolums 2 ----  -->
             <div class="footer__col">
                <h3 class="footer__heading"> My Sephonra</h3>
                <ul class="footer__list">
                    <li>
                        <a class="footer__link" href="#!">My Account</a>
                    </li>
                    <li>
                        <a class="footer__link" href="#!"> Order Status</a>
                    </li>
                    <li>
                        <a class="footer__link" href="#!">Beauty Insider</a>
                    </li>
                    <li>
                        <a class="footer__link" href="#!">Rewards Bazaar</a>
                    </li>
                    <li>
                        <a class="footer__link" href="#!">Loves</a>
                    </li>
                    <li>
                        <a class="footer__link" href="#!">Play! buy Sephora-Subscribe Now</a>
                    </li>
                    <li>
                        <a class="footer__link" href="#!">Flash Unlimited Shipping</a>
                    </li>
                    <li>
                        <a class="footer__link" href="#!"> Download the App</a>
                    </li>
                </ul>
             </div>
             
    
             <!-- --footer lolums 3 ----  -->
             <div class="footer__col">
                <h3 class="footer__heading"> Ways to Shop</h3>
                <ul class="footer__list">
                    <li>
                        <a class="footer__link" href="#!"> Online Ordering</a>
                    </li>
                    <li>
                        <a class="footer__link" href="#!"> Shipping</a>
                    </li>
                    <li>
                        <a class="footer__link" href="#!">Billing</a>
                    </li>
                    <li>
                        <a class="footer__link" href="#!"> Return & Exchanges</a>
                    </li>
                    <li>
                        <a class="footer__link" href="#!">Internationl Shipments</a>
                    </li>
                    <li>
                        <a class="footer__link" href="#!">Customer Chain</a>
                    </li>
                    <li>
                        <a class="footer__link" href="#!">Contact Us</a>
                    </li>
                    <li>
                        <a class="footer__link" href="#!">Accessibility</a>
                    </li>
                </ul>
             </div>
             
    
             <!-- --footer lolums 4 ----  -->
             <div class="footer__col">
                <h3 class="footer__heading"> Contact</h3>
                <ul class="footer__list">
                    <li class="footer__contact">
                        <p class="footer__label">Email:</p>
                        <a class="footer__link" href="https://www.facebook.com/profile.php?id=100035298128989">hngocdoai@gmail.com</a>
                    </li>
                    <li class="footer__contact">
                        <p class="footer__label">SDT:</p>
                        <a class="footer__link" href="#!">0356486861</a>
                    </li>
                    <li class="footer__contact">
                        <p class="footer__label">Address:</p>
                        <a class="footer__link" href="#!">Phu Tho - Viet Nam</a>
                    </li>
                    <li class="footer__contact">
                        <p class="footer__label">House:</p>
                        <a class="footer__link" href="#!"> 08:00 AM - 23:00 PM</a>
                    </li>
                    <li class="footer__contact">
                        <p class="footer__label">Hey :</p>
                        <a class="footer__link" href="#!">Thank you fen</a>
                    </li>
                    
                </ul>
             </div>
    
             
            </div>
    
            <div class="footer__copyright">
                <p class="footer__copyright__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam ad corrupti saepe?</p>
                <p class="footer__copyright__name">Ha Minh Doai</p>
            </div>
    
            
    
        </div>
    </footer>
</div>
