
.payment-card{
    position: relative;
    z-index: 1;


    background: var(--bg-color);
    height: 100%;
    padding: 20px;
    color: #fff;
    border-radius: 10px;

    overflow: hidden;
    user-select: none;

    &__img{
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }

    &__top{
        display: flex;
        align-items: center;
        gap: 6px;
    }

    &__type{
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 142.857%;
    }
    &__number{
        margin-top: 38px;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }
    &__bottom{
        display: flex;
        margin-top: 20px;

        
    }
    &__label{
        font-size: 0.8rem;
        font-weight: 500;
        line-height: 175%;
    }
    &__value{
        font-size: 10px;
        font-weight: 500;
        line-height: 140%;
    }
    &__expired{
        margin: 0 auto 0 40px;
    }
    &__crirle{
        --circle-width: 28px;
        position: relative;
        width: 42px;
        height: var(--circle-width);

        &::before, &::after{
            position: absolute;
            content: "";
            width: var(--circle-width);
            height: var(--circle-width);
            border-radius: 50%;

            top: 0;

        }
        &::before{
            left: 0;
            background: #FFB700;
        }
        &::after{
            right: 0;
            z-index: 1;
            background: #F94545;
            mix-blend-mode: hard-light;
        }
    }
}
.new-card{
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    min-height: 170px;

    border-radius: 10px;
    border: 1px dashed  #D2D1D6;

    &__desc{
        margin-top: 14px;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 142.857%;
        color: #D2D1D6;
    }
}